$light: #929292;
$dark: #424242;

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: sans-serif;
}

html,
body {
    width: 100%;
}

body {
    overflow: hidden;
}

.section-content {
    @include content-container();
}

p {
    font-size: 1.75rem;
    line-height: 1.8rem;
}
